In [1]:
print("hello world")

hello world

In [3]:
"hello world"

'hello world'

In [4]:
print("hello world".upper())
"hello world".lower()

HELLO WORLD

'hello world'

In [7]:
"hello world".title()

'Hello World'

In [9]:
"hello world".count('l')

3

In [11]:
"hello world".replace('o','a')

'hella warld'

In [13]:
message_1 = "I'm learning python from months"

In [15]:
message_1

"I'm learning python from months"

In [17]:
msg_2 = "and im still doing it!"

In [19]:
msg_2

'and im still doing it!'

In [21]:
message_1 + msg_2

"I'm learning python from monthsand im still doing it!"

In [23]:
message_1 + ' ' + msg_2

"I'm learning python from months and im still doing it!"

In [25]:
message = message_1 + ' ' + msg_2
message

"I'm learning python from months and im still doing it!"

In [27]:
f'hello world'

'hello world'

In [29]:
f'{message_1} cool {msg_2}'

"I'm learning python from months cool and im still doing it!"

In [31]:
countries = ['United States', 'India', 'China', 'Brazil']
countries

['United States', 'India', 'China', 'Brazil']

In [33]:
print(countries[0])

United States

In [35]:
countries[-1]

'Brazil'

In [37]:
countries[-4]

'United States'

In [39]:
# slicing
last_name[start:stop]

NameError: name 'last_name' is not defined

In [ ]:
countries[0:3]

In [ ]:
countries[0:1]

In [43]:
countries[1:]

['India', 'China', 'Brazil']

In [45]:
countries[:2]

['United States', 'India']

In [47]:
countries

['United States', 'India', 'China', 'Brazil']

In [49]:
countries.append('Canada')
countries

['United States', 'India', 'China', 'Brazil', 'Canada']

In [51]:
countries.insert(0, 'Spain')
countries

['Spain', 'United States', 'India', 'China', 'Brazil', 'Canada']

In [53]:
countries_2 = ['UK', 'Germany', 'Austria']
countries + countries_2

['Spain',
 'United States',
 'India',
 'China',
 'Brazil',
 'Canada',
 'UK',
 'Germany',
 'Austria']

In [55]:
nested_list = [countries, countries_2]
nested_list

[['Spain', 'United States', 'India', 'China', 'Brazil', 'Canada'],
 ['UK', 'Germany', 'Austria']]

In [57]:
#countries = ['United States', 'India', 'China', 'Brazil']

In [66]:
countries.remove('United States')

ValueError: list.remove(x): x not in list

In [68]:
countries

['India', 'China', 'Brazil']

In [70]:
countries.pop(-1)

'Brazil'

In [72]:
countries

['India', 'China']

In [74]:
del countries[0]
countries

['China']

In [80]:
num = [1,2,6,8,4]

In [82]:
num.sort()
num

[1, 2, 4, 6, 8]

In [84]:
num = [1,2,6,8,4]
num.sort(reverse=True)
num

[8, 6, 4, 2, 1]

In [86]:
num[0] = 1000
num

[1000, 6, 4, 2, 1]

In [13]:
countries = ['United States', 'India', 'China', 'Brazil']
new_l = countries[:]
new_l

['United States', 'India', 'China', 'Brazil']

In [15]:
new_l2 = countries.copy()
new_l2

['United States', 'India', 'China', 'Brazil']

In [17]:
my_dict = {'key1':'value1', 'key2':'value2'}

In [19]:
my_data = {'name':'Frank', 'age':26}

In [21]:
my_data

{'name': 'Frank', 'age': 26}

In [23]:
my_data.keys()

dict_keys(['name', 'age'])

In [25]:
my_data.values()

dict_values(['Frank', 26])

In [27]:
my_data.items()

dict_items([('name', 'Frank'), ('age', 26)])

In [29]:
my_data['height'] = 5.4
my_data

{'name': 'Frank', 'age': 26, 'height': 5.4}

In [31]:
my_data.update({'height':5.6})
my_data

{'name': 'Frank', 'age': 26, 'height': 5.6}

In [33]:
new_dict = my_data.copy()
new_dict

{'name': 'Frank', 'age': 26, 'height': 5.6}

In [35]:
new_dict_2 = my_data
new_dict_2

{'name': 'Frank', 'age': 26, 'height': 5.6}

In [37]:
my_data.pop('name')

'Frank'

In [39]:
my_data

{'age': 26, 'height': 5.6}

In [41]:
del my_data['age']
my_data

{'height': 5.6}

In [43]:
my_data.clear()
my_data

{}

In [45]:
#if statement
age = 7

if age>=18:
    print("You're an adult!")
elif age>=13:
    print("You're a teenager")
else:
    print("You're a kid")

You're a kid

In [47]:
#for loop
countries

['United States', 'India', 'China', 'Brazil']

In [51]:
for i, country in enumerate(countries):
    print(i)
    print(country)

0
United States
1
India
2
China
3
Brazil

In [57]:
my_data = {'name':'Frank', 'age':20}
my_data

{'name': 'Frank', 'age': 20}

In [59]:
for key, value in my_data.items():
    print(key)
    print(value)

name
Frank
age
20

In [1]:
#function
def sum_values(a, b):
    x = a + b
    return x

In [3]:
sum_values(1,2)

3

In [5]:
countries = ['United States', 'India', 'China', 'Brazil']

In [9]:
len(countries)

4

In [11]:
max([10, 3, 56, 1, 99])

99

In [13]:
min([12, 4, 67, 43, 9])

4

In [15]:
type(countries)

list

In [21]:
for i in range(1, 10, 2):
     print(i)

1
3
5
7
9

In [23]:
#module 
import os

In [25]:
os.getcwd()

'C:\\Users\\ASUS'

In [27]:
os.listdir()

['.anaconda',
 '.cache',
 '.conda',
 '.condarc',
 '.continuum',
 '.cursor',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.matplotlib',
 '.ms-ad',
 '.spyder-py3',
 '.Untitled14.ipynb.layout',
 '.VirtualBox',
 '.virtual_documents',
 '.vscode',
 'Ai  twin.ipynb',
 'ai twin2.ipynb',
 'anaconda3',
 'Anaconda3_New',
 'anaconda_projects',
 'AppData',
 'Application Data',
 'basicpython.ipynb',
 'Contacts',
 'Cookies',
 'data',
 'data type and use',
 'datascience1.ipynb',
 'Desktop',
 'Downloads',
 'exercise1.ipynb',
 'Favorites',
 'fun(Numpy).ipynb',
 'games.ipynb',
 'Jedi',
 'Jupyternotebook.ipynb',
 'Links',
 'Local Settings',
 'loops.ipynb',
 'Microsoft',
 'Music',
 'My Documents',
 'myfile.txt',
 'names.csv',
 'names.txt',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{9b22fa7f-cdf7-11ef-af95-98d6dbdc1247}.TM.blf',
 'NTUSER.DAT{9b22fa7f-cdf7-11ef-af95-98d6dbdc1247}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{9b22fa7f-cdf7-11ef-af95-98d6dbdc1247}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'OOPS in programming .ipynb',
 'PAndas.ipynb',
 'practiceviva.ipynb',
 'PrintHood',
 'Recent',
 'Saved Games',
 'Searches',
 'SendTo',
 'ShoppingAssistant',
 'Start Menu',
 'start1.ipynb',
 'Templates',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled10.ipynb',
 'Untitled11.ipynb',
 'Untitled12.ipynb',
 'Untitled13.ipynb',
 'Untitled14.ipynb',
 'Untitled15.ipynb',
 'Untitled16.ipynb',
 'Untitled17.ipynb',
 'Untitled18.ipynb',
 'Untitled19.ipynb',
 'Untitled2.ipynb',
 'Untitled20.ipynb',
 'Untitled21.ipynb',
 'Untitled22.ipynb',
 'Untitled23.ipynb',
 'Untitled24.ipynb',
 'Untitled25.ipynb',
 'Untitled26.ipynb',
 'Untitled27.ipynb',
 'Untitled28.ipynb',
 'Untitled29.ipynb',
 'Untitled3.ipynb',
 'Untitled30.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 'Untitled6.ipynb',
 'Untitled7.ipynb',
 'Untitled8.ipynb',
 'Untitled9.ipynb',
 'variablebasic.ipynb',
 'Videos',
 'VirtualBox VMs',
 'web_scraping_example.html']

In [29]:
os.makedirs("New Folder")

In [31]:
os.listdir()

['.anaconda',
 '.cache',
 '.conda',
 '.condarc',
 '.continuum',
 '.cursor',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.matplotlib',
 '.ms-ad',
 '.spyder-py3',
 '.Untitled14.ipynb.layout',
 '.VirtualBox',
 '.virtual_documents',
 '.vscode',
 'Ai  twin.ipynb',
 'ai twin2.ipynb',
 'anaconda3',
 'Anaconda3_New',
 'anaconda_projects',
 'AppData',
 'Application Data',
 'basicpython.ipynb',
 'Contacts',
 'Cookies',
 'data',
 'data type and use',
 'datascience1.ipynb',
 'Desktop',
 'Downloads',
 'exercise1.ipynb',
 'Favorites',
 'fun(Numpy).ipynb',
 'games.ipynb',
 'Jedi',
 'Jupyternotebook.ipynb',
 'Links',
 'Local Settings',
 'loops.ipynb',
 'Microsoft',
 'Music',
 'My Documents',
 'myfile.txt',
 'names.csv',
 'names.txt',
 'NetHood',
 'New Folder',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{9b22fa7f-cdf7-11ef-af95-98d6dbdc1247}.TM.blf',
 'NTUSER.DAT{9b22fa7f-cdf7-11ef-af95-98d6dbdc1247}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{9b22fa7f-cdf7-11ef-af95-98d6dbdc1247}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'OOPS in programming .ipynb',
 'PAndas.ipynb',
 'practiceviva.ipynb',
 'PrintHood',
 'Recent',
 'Saved Games',
 'Searches',
 'SendTo',
 'ShoppingAssistant',
 'Start Menu',
 'start1.ipynb',
 'Templates',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled10.ipynb',
 'Untitled11.ipynb',
 'Untitled12.ipynb',
 'Untitled13.ipynb',
 'Untitled14.ipynb',
 'Untitled15.ipynb',
 'Untitled16.ipynb',
 'Untitled17.ipynb',
 'Untitled18.ipynb',
 'Untitled19.ipynb',
 'Untitled2.ipynb',
 'Untitled20.ipynb',
 'Untitled21.ipynb',
 'Untitled22.ipynb',
 'Untitled23.ipynb',
 'Untitled24.ipynb',
 'Untitled25.ipynb',
 'Untitled26.ipynb',
 'Untitled27.ipynb',
 'Untitled28.ipynb',
 'Untitled29.ipynb',
 'Untitled3.ipynb',
 'Untitled30.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 'Untitled6.ipynb',
 'Untitled7.ipynb',
 'Untitled8.ipynb',
 'Untitled9.ipynb',
 'variablebasic.ipynb',
 'Videos',
 'VirtualBox VMs',
 'web_scraping_example.html']

In [3]:
import pandas as pd
import numpy as np

#creating a dataframe from an array

##option 1

In [7]:
#creating an array
data = np.array([[1,4], [2,5], [3,6]])

In [9]:
#creating a dataframe
pd.DataFrame(data)

   0  1
0  1  4
1  2  5
2  3  6

In [11]:
#creating a dataframe
df = pd.DataFrame(data, index=['row1', 'row2', 'row3'],
             columns=['col1', 'col2'])

In [13]:
# showing the dataframe
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6

In [15]:
#option 2

In [17]:
#creating an array with list shape
data = [[1,4], [2,5], [3,6]]

In [19]:
#creating a dataframe
df = pd.DataFrame(data, index=['row1', 'row2', 'row3'],
             columns=['col1', 'col2'])

In [21]:
#showing the dataframe
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6

In [23]:
##creating a dataframe from a dictionary

In [25]:
#lists used in this
states = ['California', 'Texas', 'Florida', 'New York']
population = [34567898, 12398456, 65897263, 12345678]

In [27]:
#storing lists within a dictionary
dict_states = {'States':states, 'Population': population}

In [29]:
#creating the dataframe
df_population = pd.DataFrame(dict_states)

In [31]:
#showing the dataframe
df_population

       States  Population
0  California    34567898
1       Texas    12398456
2     Florida    65897263
3    New York    12345678

In [33]:
##creating a DataFrame from a csv file

In [35]:
#reading the csv file
pd.read_csv('StudentsPerformance.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'StudentsPerformance.csv'